.chart-card{

    background:#131c2e;

    border:1px solid #26334d;

    border-radius:12px;

    overflow:hidden;

    height:280px;

}

.chart-header{

    height:60px;

    background:#1b2438;

    border-bottom:1px solid #26334d;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 20px;

}

.chart-header h3{

    color:white;

    margin:0;

}

.chart-header span{

    color:#8ca8d8;

    font-size:13px;

}

.chart-placeholder{

    height:220px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    color:#6b85b5;

}

.chart-placeholder h2{

    font-size:50px;

}